@import "../_load.styl"

.Page
  r1 0 0
  z-index 1
  rect 100% auto
  background #fff

.HeaderLayer
  a1 0 0
  z-index 100
  rect 100% auto
  @media MAX-TABLET
    f1 0 0

.MenuLayer
  position fixed
  top 0
  left 0
  z-index 90
  width 100vw
  height 100vh
  overflow-y scroll
  transform translateX(100vw)
  transition transform .3s ease
  &.isActive
    transform translateY(0vw)

.BodyLayer
  r1 0 0
  z-index 1
  rect 100% auto
  layout stack
  pb 100px

.SideNavLayer
  f2 210px 0
  z-index 10

