html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  display: block;
}
html {
  width: 100%;
  font-size: 62.5%;
  height: auto;
  overflow-x: hidden;
  background: #fff;
}
body {
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: #323232;
  font-family: "YakuHanJP", "Noto Sans JP", "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.PcBr {
  display: block;
}
@media screen and (max-width: 768px) {
  .PcBr {
    display: none;
  }
}
.SpBr {
  display: none;
}
@media screen and (max-width: 768px) {
  .SpBr {
    display: block;
  }
}
.U_Tategaki {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: "Noto Sans JP", "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif !important;
}
@media screen and (min-width: 769px) {
  .U_PC_Tategaki {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: "Noto Sans JP", "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif !important;
  }
}
.AboutSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.AboutSection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.AboutSection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .AboutSection-Frame::before {
    padding-top: 250px;
  }
}
.AboutSection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .AboutSection-Frame-Inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .AboutSection-Frame-Inner > * + * {
    margin-top: 16px;
  }
}
.AboutSection-Frame-Inner-TextBox {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.AboutSection-Frame-Inner-TextBox.isShown {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .AboutSection-Frame-Inner-TextBox {
    position: static;
    top: 0;
    right: 0;
    transform: translateX(0);
  }
}
.AboutSection-Frame-Inner-TextBox-Text {
  font-size: 20px;
  color: #fff;
}
.AboutSection-Frame-Inner-TitleBox {
  width: 105px;
  height: 105px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #436da8;
}
.AboutSection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.AboutSection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.AboutSection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
.AccessSection {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .AccessSection {
    margin-top: 24px;
  }
}
.AccessSection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.AccessSection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .AccessSection-Frame::before {
    padding-top: 250px;
  }
}
@media screen and (max-width: 768px) {
  .AccessSection-Frame::before > * + * {
    margin-top: 16px;
  }
}
.AccessSection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .AccessSection-Frame-Inner {
    align-items: center;
  }
}
.AccessSection-Frame-Inner-LogoBox {
  position: absolute;
  top: 45px;
  right: 80px;
  width: 113px;
  height: 96px;
}
@media screen and (max-width: 768px) {
  .AccessSection-Frame-Inner-LogoBox {
    position: static;
    top: 0;
    right: 0;
    transform: translateX(0);
    width: 40px;
    height: 40px;
  }
}
.AccessSection-Frame-Inner-TitleBox {
  width: 105px;
  height: 105px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #436da8;
}
@media screen and (max-width: 768px) {
  .AccessSection-Frame-Inner-TitleBox {
    margin-top: 20px;
  }
}
.AccessSection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.AccessSection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.AccessSection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
.ActivitySection {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .ActivitySection {
    margin-top: 24px;
  }
}
.ActivitySection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.ActivitySection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .ActivitySection-Frame::before {
    padding-top: 250px;
  }
}
.ActivitySection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .ActivitySection-Frame-Inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .ActivitySection-Frame-Inner > * + * {
    margin-top: 16px;
  }
}
.ActivitySection-Frame-Inner-TextBox {
  position: absolute;
  top: 170px;
  left: 670px;
  width: auto;
  height: auto;
  writing-mode: vertical-lr;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.ActivitySection-Frame-Inner-TextBox.isShown {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .ActivitySection-Frame-Inner-TextBox {
    position: static;
    top: 0;
    right: 0;
    transform: translateX(0);
    writing-mode: lr;
  }
}
.ActivitySection-Frame-Inner-TextBox-Text {
  font-size: 20px;
  color: #fff;
}
.ActivitySection-Frame-Inner-TitleBox {
  width: 105px;
  height: 105px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #436da8;
}
.ActivitySection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.ActivitySection-Frame-Inner-TitleBox-JaText {
  font-size: 12px;
  line-height: 150%;
}
.ActivitySection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
.BigImageSection {
  width: 100%;
  height: auto;
}
.BigImageSection .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  transform: translateX(-80px) translateY(100%);
}
@media screen and (max-width: 768px) {
  .BigImageSection .swiper-button-next {
    transform: translateX(0px) translateY(100%) scale(0.65);
  }
}
.BigImageSection .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  transform: translateX(80px) translateY(100%);
}
@media screen and (max-width: 768px) {
  .BigImageSection .swiper-button-prev {
    transform: translateX(0px) translateY(100%) scale(0.65);
  }
}
.BigImageSection .swiper-pagination-bullet {
  background: #000;
}
.BigImageSection .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.BigImageSection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.BigImageSection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 100vh;
}
.BigImageSection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-slide .BigImageSection-Frame-Inner-TextBox-Text {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 2s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-TextBox-Text {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-LogoBox {
  opacity: 0;
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-LogoBox {
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-TextGroup {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-TextGroup {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-SubTextBox {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-SubTextBox {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.BigImageSection-Frame-Inner-TextBox {
  position: absolute;
  top: 236px;
  right: 125px;
  width: auto;
  height: auto;
}
@media screen and (max-width: 960px) {
  .BigImageSection-Frame-Inner-TextBox {
    position: static;
    top: 0;
    right: 0;
  }
}
.BigImageSection-Frame-Inner-TextBox-Text {
  font-size: 26px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5em;
}
@media screen and (max-width: 960px) {
  .BigImageSection-Frame-Inner-TextBox-Text {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .BigImageSection-Frame-Inner-TextBox-Text {
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-LogoBox {
  width: 165px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .BigImageSection-Frame-Inner-LogoBox {
    margin-top: 30px;
    width: 120px;
    height: 180px;
  }
}
.BigImageSection-Frame-Inner-TextGroup {
  position: absolute;
  top: 200px;
  right: 125px;
  width: auto;
  height: auto;
  writing-mode: vertical-rl;
  font-size: 14px;
  color: #fff;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .BigImageSection-Frame-Inner-TextGroup {
    position: static;
    top: 0;
    right: 0;
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
  margin-left: 20px;
}
@media screen and (max-width: 960px) {
  .BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-TextGroup-SecondTextItem {
  margin-top: 50px;
  margin-left: 20px;
}
.BigImageSection-Frame-Inner-SubTextBox {
  position: absolute;
  bottom: 30px;
  right: 80px;
  width: auto;
  height: auto;
}
@media screen and (max-width: 960px) {
  .BigImageSection-Frame-Inner-SubTextBox {
    position: static;
    top: 0;
    right: 0;
  }
}
.BigImageSection-Frame-Inner-SubTextBox-SubText {
  font-size: 26px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5em;
}
@media screen and (max-width: 768px) {
  .BigImageSection-Frame-Inner-SubTextBox-SubText {
    font-size: 20px;
  }
}
.ConseptSection {
  padding-top: 30px;
  padding-bottom: 30px;
  lect: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ConseptSection-TextBox {
  font-size: 16px;
  color: #436da8;
  line-height: 200%;
}
@media screen and (max-width: 768px) {
  .ConseptSection-TextBox {
    font-size: 12px;
  }
}
.FooterSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.FooterSection-Inner {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
.FooterSection-Inner > * + * {
  border-left: 1px solid #d8dde6;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner > * + * {
    border-left: none;
  }
}
.FooterSection-Inner-Address {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: none;
  font-size: 12px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner-Address {
    font-size: 12px;
  }
}
.FooterSection-Inner-Address-Img {
  width: 125px;
  height: 25px;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner-Address-Img {
    width: auto;
    height: 35px;
  }
}
.FooterSection-Inner-Address-Text {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner-Address-Text {
    font-size: 14px;
  }
}
.FooterSection-Inner-Tel {
  height: 128px;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  flex: none;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner-Tel {
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
  }
}
.FooterSection-Inner-TextBox {
  padding-left: 6%;
  padding-right: 6%;
  line-height: 300%;
  flex: none;
}
@media screen and (max-width: 768px) {
  .FooterSection-Inner-TextBox {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 150%;
  }
}
.HeaderSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.7);
}
.HeaderSection-Inner {
  width: 90%;
  height: auto;
  max-width: 1200px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .HeaderSection-Inner {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.HeaderSection-Inner > * + * {
  margin-left: auto;
}
.HeaderSection-Inner-LogoBox-Img {
  width: 70px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .HeaderSection-Inner-LogoBox-Img {
    width: 40px;
    height: 40px;
  }
}
.HeaderSection-Inner-NavGroup {
  width: 100%;
  height: auto;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.HeaderSection-Inner-NavGroup > * + * {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .HeaderSection-Inner-NavGroup {
    display: none;
  }
}
.HeaderSection-Inner-NavGroup-NavItem {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #3665a8;
  text-decoration: none;
  cursor: pointer;
}
.HeaderSection-Inner-NavGroup-NavItem > * + * {
  border-left: 2px solid #3665a8;
}
.HeaderSection-Inner-NavGroup-NavItem-Text {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 15px;
  font-weight: 600;
}
.HeaderSection-Inner-NavGroup-NavItem-Text:hover {
  transition: all 0.15s ease;
  opacity: 0.4;
}
.HeaderSection-Inner-HamburgerMenuBtn {
  display: none;
  color: #708090;
}
@media screen and (max-width: 768px) {
  .HeaderSection-Inner-HamburgerMenuBtn {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
}
.LandscapeSection {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .LandscapeSection {
    margin-top: 24px;
  }
}
.LandscapeSection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.LandscapeSection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .LandscapeSection-Frame::before {
    padding-top: 250px;
  }
}
.LandscapeSection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .LandscapeSection-Frame-Inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .LandscapeSection-Frame-Inner > * + * {
    margin-top: 16px;
  }
}
.LandscapeSection-Frame-Inner-TextBox {
  position: absolute;
  top: 220px;
  left: 430px;
  width: auto;
  height: auto;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.LandscapeSection-Frame-Inner-TextBox.isShown {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .LandscapeSection-Frame-Inner-TextBox {
    position: static;
    top: 0;
    right: 0;
    transform: translateX(0);
  }
}
.LandscapeSection-Frame-Inner-TextBox-Text {
  font-size: 20px;
  color: #fff;
}
.LandscapeSection-Frame-Inner-TitleBox {
  width: 105px;
  height: 105px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #436da8;
}
.LandscapeSection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.LandscapeSection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.LandscapeSection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
.LogoSection {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .LogoSection {
    margin-top: 20px;
  }
}
.LogoSection-LogoBox {
  width: 220px;
  height: 140px;
}
@media screen and (max-width: 768px) {
  .LogoSection-LogoBox {
    margin-top: 30px;
  }
}
.MenuSection {
  display: none;
}
@media screen and (max-width: 768px) {
  .MenuSection {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 60px;
    background: rgba(67,109,168,0.8);
  }
}
.MenuSection-ListGroup {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.MenuSection-ListGroup > * + * {
  border-top: solid #fff 1px;
}
.MenuSection-ListGroup-ListItem {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuSection-ListGroup-ListItem > * {
  display: block;
  line-height: 25px;
}
.MenuSection-ListGroup-ListItem > * + * {
  margin-left: 1em;
}
.MenuSection-ListGroup-ListItem-MediumText {
  flex: none;
  font-size: 18px;
}
.NewsSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #436da8;
}
.NewsSection-Inner {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.NewsSection-Inner > * + * {
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner > * + * {
    margin-left: 0;
  }
}
.NewsSection-Inner-LogoBox {
  flex: none;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-LogoBox {
    width: 25%;
    height: auto;
  }
}
.NewsSection-Inner-LogoBox-Img {
  width: 240px;
  height: 150px;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-LogoBox-Img {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
}
.NewsSection-Inner-TextBox {
  flex: none;
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 200%;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-TextBox {
    margin-left: 5%;
    width: 70%;
    height: auto;
    font-size: 12px;
    line-height: 150%;
  }
}
.NewsSection-Inner-ListGroup {
  width: auto;
  height: auto;
  flex: auto;
  border-top: 1px solid #436da8;
  border-bottom: 1px solid #436da8;
  cursor: pointer;
}
.NewsSection-Inner-ListGroup > * + * {
  border-top: 1px solid #436da8;
}
.NewsSection-Inner-ListGroup-ListItem {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-ListGroup-ListItem {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.NewsSection-Inner-ListGroup-ListItem > * + * {
  margin-left: 2em;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-ListGroup-ListItem > * + * {
    margin-left: 1em;
  }
}
.NewsSection-Inner-ListGroup-ListItem-DateText {
  flex: none;
  font-size: 16px;
  line-height: 125%;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-ListGroup-ListItem-DateText {
    font-size: 14px;
  }
}
.NewsSection-Inner-ListGroup-ListItem-TitleText {
  flex: auto;
  font-size: 16px;
  line-height: 125%;
}
@media screen and (max-width: 768px) {
  .NewsSection-Inner-ListGroup-ListItem-TitleText {
    font-size: 14px;
  }
}
.RoomsAboutSection {
  width: 100%;
  height: auto;
  font-family: "YakuHanJP", "Noto Sans JP", "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}
.RoomsAboutSection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.RoomsAboutSection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame::before {
    padding-top: 550px;
  }
}
.RoomsAboutSection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 96px;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner {
    flex-direction: column;
    padding-top: 66px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner > * + * {
    margin-top: 30px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox {
  flex: none;
  padding-left: 40px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TitleBox {
    padding-left: 0px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 210px;
  background: rgba(255,255,255,0.7);
  color: #436da8;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup {
    width: 114px;
    height: 126px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup > * + * {
  margin-top: 4px;
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText {
  font-size: 30px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText {
    line-height: 100%;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText {
  font-size: 18px;
  line-height: 150%;
}
.RoomsAboutSection-Frame-Inner-TextBox {
  flex: auto;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TextBox {
    flex: none;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-Text {
  margin-top: 100px;
  width: 100%;
  height: auto;
  padding-left: 40px;
  font-size: 24px;
  line-height: 200%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TextBox-Text {
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup {
  margin-top: 70px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup {
    margin-top: 30px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem {
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem > * + * {
  margin-top: 4px;
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text {
  font-size: 14px;
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .SideNavSection {
    display: none;
  }
}
.SideNavSection-NavGroup {
  width: 100%;
  height: auto;
}
.SideNavSection-NavGroup > * + * {
  margin-top: 20px;
}
.SideNavSection-NavGroup-NavItem {
  width: 65px;
  height: 210px;
  background: rgba(254,254,254,0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  font-size: 20px;
  color: #3665a8;
  cursor: pointer;
}
.SideSNSSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SideSNSSection > * + * {
  margin-top: 14px;
}
.SideSNSSection-SNSText {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.8), 0 2px 2px rgba(0,0,0,0.6);
}
.SideSNSSection-SNSText:hover {
  opacity: 0.65;
  cursor: pointer;
  color: #fff;
}
.SlideContentsSection {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .SlideContentsSection {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.SlideContentsSection .SlideContentsSection-SlideContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.SlideContentsSection-SideBtnGroup {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.SlideContentsSection-SideBtnGroup-NextBtnItem {
  width: 20px;
  height: 20px;
  background-size: contain;
  left: auto;
  right: 50%;
  transform: translate(40vw, 50%);
}
.SlideContentsSection-SideBtnGroup-PrevBtnItem {
  width: 20px;
  height: 20px;
  background-size: contain;
  right: auto;
  left: 50%;
  transform: translate(-40vw, 50%);
}
.SlideContentsSection-Card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.SlideContentsSection-Card-ImgFrame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.SlideContentsSection-Card-ImgFrame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 180px;
}
.SlideContentsSection-Card-ImgFrame::before-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SlideContentsSection-Card-TextBox {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 105px;
  border: 1px solid #a4b3cb;
}
.SlideContentsSection-Card-TextBox-Text {
  font-size: 18px;
  color: #0065a0;
}
.SNSNavSection {
  display: none;
}
@media screen and (max-width: 768px) {
  .SNSNavSection {
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    overflow: hidden;
    background-color: #fff;
  }
}
.SNSNavSection-IconGroup {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.SNSNavSection-IconGroup > * + * {
  margin-left: 8px;
}
.SNSNavSection-IconGroup-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SNSNavSection-IconGroup-Item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.SNSNavSection-IconGroup-Item > * + * {
  margin-top: 4px;
}
.SNSNavSection-IconGroup-Item-Icon {
  font-size: 20px;
}
.SNSNavSection-IconGroup-Item-Text {
  font-size: 10px;
}
.SNSNavSection-TelBtn {
  margin-left: 8px;
  flex: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #449ada;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}
.SNSNavSection-TelBtn:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #fff;
}
.SNSNavSection-TelBtn > * + * {
  margin-left: 4px;
}
.SNSNavSection-TelBtn-Icon {
  font-size: 16px;
}
.SNSNavSection-TelBtn-Text {
  font-size: 12px;
}
.StaySection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.StaySection-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.StaySection-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 480px;
}
@media screen and (max-width: 768px) {
  .StaySection-Frame::before {
    padding-top: 250px;
  }
}
.StaySection-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .StaySection-Frame-Inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .StaySection-Frame-Inner > * + * {
    margin-top: 16px;
  }
}
.StaySection-Frame-Inner-TextBox {
  position: absolute;
  top: 70px;
  left: 75%;
  transform: translateX(-75%);
  width: auto;
  height: auto;
  writing-mode: vertical-lr;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.StaySection-Frame-Inner-TextBox.isShown {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .StaySection-Frame-Inner-TextBox {
    position: static;
    top: 0;
    right: 0;
    transform: translateX(0);
    writing-mode: lr;
  }
}
.StaySection-Frame-Inner-TextBox-Text {
  font-size: 20px;
  color: #fff;
}
.StaySection-Frame-Inner-TitleBox {
  width: 105px;
  height: 105px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #436da8;
}
.StaySection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.StaySection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.StaySection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
.Villa001ContentsSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.Villa001ContentsSection-Inner {
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1200px;
  padding-top: 65px;
  padding-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }
}
.Villa001ContentsSection-Inner > * + * {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner > * + * {
    margin-left: 0;
  }
}
.Villa001ContentsSection-Inner-SubColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.Villa001ContentsSection-Inner-SubColumn > * + * {
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn > * + * {
    justify-content: center;
    margin-top: 0;
    margin-left: 15px;
  }
}
.Villa001ContentsSection-Inner-SubColumn-LogoBox {
  width: 105px;
  height: 125px;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn-LogoBox {
    width: 60px;
    height: 80px;
  }
}
.Villa001ContentsSection-Inner-SubColumn-TitleBox {
  display: flex;
  flex-direction: column;
  color: #285ba4;
  text-align: center;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn-TitleBox {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
}
.Villa001ContentsSection-Inner-SubColumn-TitleBox-EnText {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn-TitleBox-EnText {
    font-size: 14px;
  }
}
.Villa001ContentsSection-Inner-SubColumn-TitleBox-NoText {
  margin-top: 13px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn-TitleBox-NoText {
    margin-top: 8px;
    font-size: 24px;
  }
}
.Villa001ContentsSection-Inner-SubColumn-TitleBox-JaText {
  margin-top: 27px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-SubColumn-TitleBox-JaText {
    margin-top: 8px;
    font-size: 16px;
  }
}
.Villa001ContentsSection-Inner-MainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 0;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn {
    margin-top: 20px;
    width: 100%;
  }
}
.Villa001ContentsSection-Inner-MainColumn-MainImage {
  width: 100%;
  height: auto;
}
.Villa001ContentsSection-Inner-MainColumn-MainImage-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa001ContentsSection-Inner-MainColumn-MainImage-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-next,
  .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-prev {
    transform: scale(0.6);
  }
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide {
  opacity: 0.65;
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem {
  width: 100%;
  height: auto;
  flex: none;
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa001ContentsSection-Inner-MainColumn-Menu {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #285ba4;
  color: #285ba4;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu {
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu > * + * {
  margin-left: 125px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu > * + * {
    margin-left: 0;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: none;
}
.Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
    margin-top: 16px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText {
  font-size: 14px;
}
.Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText {
  font-size: 38px;
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
    margin-top: 16px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
    margin-top: 8px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
  display: flex;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
    justify-content: flex-start;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
  margin-left: 45px;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
    margin-left: 0;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  height: auto;
  font-size: 10px;
  line-height: 150%;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
    display: flex;
    justify-content: flex-start;
  }
}
.Villa001ContentsSection-Inner-MainColumn-Menu-SubText {
  margin-top: 85px;
  width: auto;
  height: auto;
  font-size: 16px;
  display: flex;
  text-align: flex-end;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-Menu-SubText {
    margin-top: 24px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-DrawingImg {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Villa001ContentsSection-Inner-MainColumn-DrawingImg {
    margin-top: 24px;
  }
}
.Villa001ContentsSection-Inner-MainColumn-DrawingImg-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa001ContentsSection-Inner-MainColumn-DrawingImg-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 38%;
}
.Villa001ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa002ContentsSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaebec;
}
.Villa002ContentsSection-Inner {
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1200px;
  padding-top: 65px;
  padding-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner {
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }
}
.Villa002ContentsSection-Inner > * + * {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner > * + * {
    margin-left: 0;
  }
}
.Villa002ContentsSection-Inner-SubColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.Villa002ContentsSection-Inner-SubColumn > * + * {
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn > * + * {
    justify-content: center;
    margin-top: 0;
    margin-left: 15px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-LogoBox {
  width: 105px;
  height: 125px;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn-LogoBox {
    width: 60px;
    height: 80px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox {
  display: flex;
  flex-direction: column;
  color: #285ba4;
  text-align: center;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-EnText {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-EnText {
    font-size: 14px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-NoText {
  margin-top: 13px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-NoText {
    margin-top: 8px;
    font-size: 24px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-JaText {
  margin-top: 27px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-JaText {
    margin-top: 8px;
    font-size: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 0;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn {
    margin-top: 20px;
    width: 100%;
  }
}
.Villa002ContentsSection-Inner-MainColumn-MainImage {
  width: 100%;
  height: auto;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide {
  opacity: 0.65;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide.swiper-slide-active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-next,
  .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-prev {
    transform: scale(0.6);
  }
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem {
  width: 100%;
  height: auto;
  flex: none;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa002ContentsSection-Inner-MainColumn-Menu {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #285ba4;
  color: #285ba4;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu {
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu > * + * {
  margin-left: 125px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu > * + * {
    margin-left: 0;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: none;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
    margin-top: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText {
  font-size: 14px;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText {
  font-size: 38px;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
    margin-top: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
    margin-top: 8px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
  display: flex;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
    justify-content: flex-start;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
  margin-left: 45px;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
    margin-left: 0;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  height: auto;
  font-size: 10px;
  line-height: 150%;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
    display: flex;
    justify-content: flex-start;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-SubText {
  margin-top: 85px;
  width: auto;
  height: auto;
  font-size: 16px;
  display: flex;
  text-align: flex-end;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-Menu-SubText {
    margin-top: 24px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Villa002ContentsSection-Inner-MainColumn-DrawingImg {
    margin-top: 24px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 38%;
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa003ContentsSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.Villa003ContentsSection-Inner {
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1200px;
  padding-top: 65px;
  padding-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner {
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }
}
.Villa003ContentsSection-Inner > * + * {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner > * + * {
    margin-left: 0;
  }
}
.Villa003ContentsSection-Inner-SubColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.Villa003ContentsSection-Inner-SubColumn > * + * {
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn > * + * {
    justify-content: center;
    margin-top: 0;
    margin-left: 15px;
  }
}
.Villa003ContentsSection-Inner-SubColumn-LogoBox {
  width: 105px;
  height: 125px;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn-LogoBox {
    width: 60px;
    height: 80px;
  }
}
.Villa003ContentsSection-Inner-SubColumn-TitleBox {
  display: flex;
  flex-direction: column;
  color: #285ba4;
  text-align: center;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn-TitleBox {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
}
.Villa003ContentsSection-Inner-SubColumn-TitleBox-EnText {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn-TitleBox-EnText {
    font-size: 14px;
  }
}
.Villa003ContentsSection-Inner-SubColumn-TitleBox-NoText {
  margin-top: 13px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn-TitleBox-NoText {
    margin-top: 8px;
    font-size: 24px;
  }
}
.Villa003ContentsSection-Inner-SubColumn-TitleBox-JaText {
  margin-top: 27px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-SubColumn-TitleBox-JaText {
    margin-top: 8px;
    font-size: 16px;
  }
}
.Villa003ContentsSection-Inner-MainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 0;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn {
    margin-top: 20px;
    width: 100%;
  }
}
.Villa003ContentsSection-Inner-MainColumn-MainImage {
  width: 100%;
  height: auto;
}
.Villa003ContentsSection-Inner-MainColumn-MainImage-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa003ContentsSection-Inner-MainColumn-MainImage-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide {
  opacity: 0.65;
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide.swiper-slide-active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-next,
  .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-prev {
    transform: scale(0.6);
  }
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem {
  width: 100%;
  height: auto;
  flex: none;
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 66.666%;
}
.Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Villa003ContentsSection-Inner-MainColumn-Menu {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #285ba4;
  color: #285ba4;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu {
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu > * + * {
  margin-left: 125px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu > * + * {
    margin-left: 0;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: none;
}
.Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
    margin-top: 16px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText {
  font-size: 14px;
}
.Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText {
  font-size: 38px;
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
    margin-top: 16px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
  margin-top: 14px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
    margin-top: 8px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
  display: flex;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
    justify-content: flex-start;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
  margin-left: 45px;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
    margin-left: 0;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  height: auto;
  font-size: 10px;
  line-height: 150%;
  flex: none;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
    display: flex;
    justify-content: flex-start;
  }
}
.Villa003ContentsSection-Inner-MainColumn-Menu-SubText {
  margin-top: 85px;
  width: auto;
  height: auto;
  font-size: 16px;
  display: flex;
  text-align: flex-end;
  flex: auto;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-Menu-SubText {
    margin-top: 24px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-DrawingImg {
  margin-top: 55px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Villa003ContentsSection-Inner-MainColumn-DrawingImg {
    margin-top: 24px;
  }
}
.Villa003ContentsSection-Inner-MainColumn-DrawingImg-Frame {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.Villa003ContentsSection-Inner-MainColumn-DrawingImg-Frame::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding-top: 38%;
}
.Villa003ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Page {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  background: #fff;
}
.HeaderLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .HeaderLayer {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.MenuLayer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  transform: translateX(100vw);
  transition: transform 0.3s ease;
}
.MenuLayer.isActive {
  transform: translateY(0vw);
}
.BodyLayer {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.SideNavLayer {
  position: fixed;
  top: 210px;
  right: 0;
  z-index: 10;
}
