doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        title MIYAZAKI
        link(href="./resources/vendor/fontawesome-free-5.12.0-web/css/all.css", rel="stylesheet")
        link(rel="stylesheet" href="./resources/vendor/swiper/swiper.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css")
        link(rel='stylesheet', href='./resources/styles/Pages/index.css')
    body
        .Page
            .HeaderLayer
                include Components/HeaderSection
            .MenuLayer
                include Components/MenuSection
            .BodyLayer
                include Components/BigImageSection
                include Components/NewsSection
                include Components/AboutSection
                include Components/ConseptSection
                include Components/StaySection
                include Components/LandscapeSection
                include Components/ActivitySection
                include Components/AccessSection
                include Components/SlideContentsSection
                include Components/LogoSection
                include Components/FooterSection

            .SNSFooterLayer
                include Components/SNSNavSection
            .SideNavLayer
                include Components/SideNavSection
            .SideSNSLayer
                include Components/SideSNSSection
        script(src='./resources/vendor/jquery/jquery-3.3.1.min.js')
        script(src="./resources/vendor/swiper/swiper.min.js")
        script(src='./resources/scripts/Pages/index.js')










