doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width')
        title MIYAZAKI
        link(href="./resources/vendor/fontawesome-free-5.12.0-web/css/all.css", rel="stylesheet")
        link(rel="stylesheet" href="./resources/vendor/swiper/swiper.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css")
        link(rel='stylesheet', href='./resources/styles/Pages/rooms.css')
    body
        .Page
            //.SideNavLayer
            //    include Components/SideNavSection
            .HeaderLayer
                include Components/HeaderSection
            .MenuLayer
                include Components/MenuSection
            .BodyLayer
                include Components/RoomsAboutSection
                include Components/Villa001ContentsSection
                include Components/Villa002ContentsSection
                include Components/Villa003ContentsSection
                include Components/FooterSection
        script(src='./resources/vendor/jquery/jquery-3.3.1.min.js')
        script(src="./resources/vendor/swiper/swiper.min.js")
        script(src='./resources/scripts/Pages/rooms.js')




