.AccessSection
  margin-top 55px
  rect 100% auto
  display flex
  justify-content center
  @media MAX-TABLET
    mt 24px
  &-Frame
    r1 0 0
    rect 100% auto
    &::before
      content ""
      display block
      rect 100% auto
      padding-top 480px
      @media MAX-TABLET
        padding-top 250px
      & > * + *
        @media MAX-TABLET
          mt 16px
    &-Inner
      a1 0 0
      rect 100% 100%
      layout stack
      justify-content center
      align-items flex-start
      px 5%
      @media MAX-TABLET
        align-items center

      &-LogoBox
        a2 45px 80px
        rect 113px 96px
        @media MAX-TABLET
          s2 0 0
          transform translateX(0)
          square 40px
      &-TitleBox
        rect 105px 105px
        background #fff
        layout stack
        justify-content center
        color rgb(67,109,168)
        @media MAX-TABLET
          mt 20px
        & > * + *
          margin-top 4px
        &-JaText
          font-size 16px
          line-height 150%
        &-EnText
          font-size 9px
          line-height 150%
