.AccessSection {
  margin-top: 55px;
  rect: 100% auto;
  display: flex;
  justify-content: center;
}
@media MAX-TABLET {
  .AccessSection {
    mt: 24px;
  }
}
.AccessSection-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.AccessSection-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 480px;
}
@media MAX-TABLET {
  .AccessSection-Frame::before {
    padding-top: 250px;
  }
}
@media MAX-TABLET {
  .AccessSection-Frame::before > * + * {
    mt: 16px;
  }
}
.AccessSection-Frame-Inner {
  a1: 0 0;
  rect: 100% 100%;
  layout: stack;
  justify-content: center;
  align-items: flex-start;
  px: 5%;
}
@media MAX-TABLET {
  .AccessSection-Frame-Inner {
    align-items: center;
  }
}
.AccessSection-Frame-Inner-LogoBox {
  a2: 45px 80px;
  rect: 113px 96px;
}
@media MAX-TABLET {
  .AccessSection-Frame-Inner-LogoBox {
    s2: 0 0;
    transform: translateX(0);
    square: 40px;
  }
}
.AccessSection-Frame-Inner-TitleBox {
  rect: 105px 105px;
  background: #fff;
  layout: stack;
  justify-content: center;
  color: #436da8;
}
@media MAX-TABLET {
  .AccessSection-Frame-Inner-TitleBox {
    mt: 20px;
  }
}
.AccessSection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.AccessSection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.AccessSection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
