.ActivitySection
  margin-top 55px
  rect 100% auto
  display flex
  justify-content center
  @media MAX-TABLET
    mt 24px
  &-Frame
    r1 0 0
    rect 100% auto
    &::before
      content ""
      display block
      rect 100% auto
      padding-top 480px
      @media MAX-TABLET
        padding-top 250px
    &-Inner
      a1 0 0
      rect 100% 100%
      layout stack
      justify-content center
      align-items flex-start
      px 5%
      @media MAX-TABLET
        align-items center
      & > * + *
        @media MAX-TABLET
          mt 16px
      &-TextBox
        a1 170px 670px
        rect auto auto
        writing-mode vertical-lr
        transition all .5s ease-in
        opacity 0
        &.isShown
          opacity 1
        @media MAX-TABLET
          s2 0 0
          transform translateX(0)
          writing-mode lr
        &-Text
          font-size 20px
          color #fff

      &-TitleBox
        rect 105px 105px
        background #fff
        layout stack
        justify-content center
        color rgb(67,109,168)
        & > * + *
          margin-top 4px
        &-JaText
          font-size 12px
          line-height 150%
        &-EnText
          font-size 9px
          line-height 150%
