.BigImageSection {
  rect: 100% auto;
}
.BigImageSection .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  transform: translateX(-80px) translateY(100%);
}
@media MAX-TABLET {
  .BigImageSection .swiper-button-next {
    transform: translateX(0px) translateY(100%) scale(0.65);
  }
}
.BigImageSection .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  transform: translateX(80px) translateY(100%);
}
@media MAX-TABLET {
  .BigImageSection .swiper-button-prev {
    transform: translateX(0px) translateY(100%) scale(0.65);
  }
}
.BigImageSection .swiper-pagination-bullet {
  background: #000;
}
.BigImageSection .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.BigImageSection-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.BigImageSection-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 100vh;
}
.BigImageSection-Frame-Inner {
  a1: 0 0;
  z-index: 1;
  rect: 100% 100%;
  layout: stack;
  justify-content: center;
}
.swiper-slide .BigImageSection-Frame-Inner-TextBox-Text {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 2s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-TextBox-Text {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-LogoBox {
  opacity: 0;
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-LogoBox {
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-TextGroup {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-TextGroup {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.swiper-slide .BigImageSection-Frame-Inner-SubTextBox {
  opacity: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: all 2s ease-in 0s;
}
.swiper-slide.swiper-slide-active .BigImageSection-Frame-Inner-SubTextBox {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.BigImageSection-Frame-Inner-TextBox {
  a2: 236px 125px;
  rect: auto auto;
}
@media MAX-LAPTOP {
  .BigImageSection-Frame-Inner-TextBox {
    s2: 0 0;
  }
}
.BigImageSection-Frame-Inner-TextBox-Text {
  font-size: 26px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5em;
}
@media MAX-LAPTOP {
  .BigImageSection-Frame-Inner-TextBox-Text {
    font-size: 20px;
  }
}
@media MAX-TABLET {
  .BigImageSection-Frame-Inner-TextBox-Text {
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-LogoBox {
  rect: 165px 200px;
}
@media MAX-TABLET {
  .BigImageSection-Frame-Inner-LogoBox {
    margin-top: 30px;
    rect: 120px 180px;
  }
}
.BigImageSection-Frame-Inner-TextGroup {
  a2: 200px 125px;
  rect: auto auto;
  writing-mode: vertical-rl;
  font-size: 14px;
  color: #fff;
  font-weight: 200;
}
@media MAX-LAPTOP {
  .BigImageSection-Frame-Inner-TextGroup {
    s2: 0 0;
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
  ml: 20px;
}
@media MAX-LAPTOP {
  .BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
    font-size: 20px;
  }
}
@media MAX-TABLET {
  .BigImageSection-Frame-Inner-TextGroup-FirstTextItem {
    font-size: 12px;
  }
}
.BigImageSection-Frame-Inner-TextGroup-SecondTextItem {
  mt: 50px;
  ml: 20px;
}
.BigImageSection-Frame-Inner-SubTextBox {
  a3: 30px 80px;
  rect: auto auto;
}
@media MAX-LAPTOP {
  .BigImageSection-Frame-Inner-SubTextBox {
    s2: 0 0;
  }
}
.BigImageSection-Frame-Inner-SubTextBox-SubText {
  font-size: 26px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5em;
}
@media MAX-TABLET {
  .BigImageSection-Frame-Inner-SubTextBox-SubText {
    font-size: 20px;
  }
}
