.ConseptSection {
  py: 30px;
  lect: 100% auto;
  layout: stack;
}
.ConseptSection-TextBox {
  font-size: 16px;
  color: #436da8;
  line-height: 200%;
}
@media MAX-TABLET {
  .ConseptSection-TextBox {
    font-size: 12px;
  }
}
