.FooterSection {
  rect: 100% auto;
  layout: stack;
  mt: 70px;
}
.FooterSection-Inner {
  rect: 90% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media MAX-TABLET {
  .FooterSection-Inner {
    flex-direction: column;
    px: 0;
  }
}
.FooterSection-Inner > * + * {
  border-left: 1px solid #d8dde6;
}
@media MAX-TABLET {
  .FooterSection-Inner > * + * {
    border-left: none;
  }
}
.FooterSection-Inner-Address {
  px: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: none;
  font-size: 12px;
  overflow: hidden;
}
@media MAX-TABLET {
  .FooterSection-Inner-Address {
    font-size: 12px;
  }
}
.FooterSection-Inner-Address-Img {
  rect: 125px 25px;
}
@media MAX-TABLET {
  .FooterSection-Inner-Address-Img {
    rect: auto 35px;
  }
}
.FooterSection-Inner-Address-Text {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 150%;
}
@media MAX-TABLET {
  .FooterSection-Inner-Address-Text {
    font-size: 14px;
  }
}
.FooterSection-Inner-Tel {
  height: 128px;
  px: 6%;
  layout: btn;
  font-size: 26px;
  flex: none;
}
@media MAX-TABLET {
  .FooterSection-Inner-Tel {
    height: auto;
    py: 1em;
    px: 0;
    font-size: 20px;
  }
}
.FooterSection-Inner-TextBox {
  px: 6%;
  line-height: 300%;
  flex: none;
}
@media MAX-TABLET {
  .FooterSection-Inner-TextBox {
    px: 0;
    font-size: 14px;
    line-height: 150%;
  }
}
