.FooterSection
  rect 100% auto
  layout stack
  mt 70px
  &-Inner
    rect 90% auto
    display flex
    justify-content center
    align-items center
    @media MAX-TABLET
      flex-direction column
      px 0
    & > * + *
      border-left 1px solid rgb(216,221,230)
      @media MAX-TABLET
        border-left none
    &-Address
      px 3%
      display flex
      flex-direction column
      flex-wrap wrap
      flex none
      font-size 12px
      overflow hidden
      @media MAX-TABLET
        font-size 12px

      &-Img
        rect 125px 25px
        @media MAX-TABLET
          rect auto 35px
      &-Text
        margin-top 20px
        display flex
        justify-content flex-start
        align-items center
        line-height 150%
        @media MAX-TABLET
          font-size 14px
    &-Tel
      //rect auto 100%
      height 128px
      px 6%
      layout btn
      font-size 26px
      flex none
      @media MAX-TABLET
        height auto
        py 1em
        px 0
        font-size 20px
    &-TextBox
      px 6%
      line-height 300%
      flex none
      @media MAX-TABLET
        px 0
        font-size 14px
        line-height 150%
