
.HeaderSection
  rect 100% auto
  layout stack
  background rgba(255,255,255,0.7)
  &-Inner
    rect 90% auto
    max-width 1200px
    py 8px
    display flex
    align-items center
    @media MAX-TABLET
      py 4px
    & > * + *
      margin-left auto
    &-LogoBox
      &-Img
        rect 70px 80px
        @media MAX-TABLET
          square 40px

    &-NavGroup
      rect 100% auto
      max-width 960px
      px 16px
      display flex
      align-items center
      & > * + *
        margin-left auto

      @media MAX-TABLET
        display none

      &-NavItem
        r1 0 0
        rect auto 80px
        layout btn
        font-size 16px
        color rgb(54,101,168)
        text-decoration none
        cursor pointer

        & > * + *
          border-left 2px solid rgb(54,101,168)

        &-Text
          display inline-block
          px 0.5em
          font-size 15px
          font-weight 600

          &:hover
            transition all 0.15s ease
            opacity .4

    &-HamburgerMenuBtn
      display none
      color: #708090
      @media MAX-TABLET
        rect 50px 50px
        layout btn
        font-size 28px


