.HeaderSection {
  rect: 100% auto;
  layout: stack;
  background: rgba(255,255,255,0.7);
}
.HeaderSection-Inner {
  rect: 90% auto;
  max-width: 1200px;
  py: 8px;
  display: flex;
  align-items: center;
}
@media MAX-TABLET {
  .HeaderSection-Inner {
    py: 4px;
  }
}
.HeaderSection-Inner > * + * {
  margin-left: auto;
}
.HeaderSection-Inner-LogoBox-Img {
  rect: 70px 80px;
}
@media MAX-TABLET {
  .HeaderSection-Inner-LogoBox-Img {
    square: 40px;
  }
}
.HeaderSection-Inner-NavGroup {
  rect: 100% auto;
  max-width: 960px;
  px: 16px;
  display: flex;
  align-items: center;
}
.HeaderSection-Inner-NavGroup > * + * {
  margin-left: auto;
}
@media MAX-TABLET {
  .HeaderSection-Inner-NavGroup {
    display: none;
  }
}
.HeaderSection-Inner-NavGroup-NavItem {
  r1: 0 0;
  rect: auto 80px;
  layout: btn;
  font-size: 16px;
  color: #3665a8;
  text-decoration: none;
  cursor: pointer;
}
.HeaderSection-Inner-NavGroup-NavItem > * + * {
  border-left: 2px solid #3665a8;
}
.HeaderSection-Inner-NavGroup-NavItem-Text {
  display: inline-block;
  px: 0.5em;
  font-size: 15px;
  font-weight: 600;
}
.HeaderSection-Inner-NavGroup-NavItem-Text:hover {
  transition: all 0.15s ease;
  opacity: 0.4;
}
.HeaderSection-Inner-HamburgerMenuBtn {
  display: none;
  color: #708090;
}
@media MAX-TABLET {
  .HeaderSection-Inner-HamburgerMenuBtn {
    rect: 50px 50px;
    layout: btn;
    font-size: 28px;
  }
}
