.LandscapeSection {
  margin-top: 55px;
  rect: 100% auto;
  display: flex;
  justify-content: center;
}
@media MAX-TABLET {
  .LandscapeSection {
    mt: 24px;
  }
}
.LandscapeSection-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.LandscapeSection-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 480px;
}
@media MAX-TABLET {
  .LandscapeSection-Frame::before {
    padding-top: 250px;
  }
}
.LandscapeSection-Frame-Inner {
  a1: 0 0;
  rect: 100% 100%;
  layout: stack;
  justify-content: center;
  align-items: flex-start;
  px: 5%;
}
@media MAX-TABLET {
  .LandscapeSection-Frame-Inner {
    align-items: center;
  }
}
@media MAX-TABLET {
  .LandscapeSection-Frame-Inner > * + * {
    mt: 16px;
  }
}
.LandscapeSection-Frame-Inner-TextBox {
  a1: 220px 430px;
  rect: auto auto;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.LandscapeSection-Frame-Inner-TextBox.isShown {
  opacity: 1;
}
@media MAX-TABLET {
  .LandscapeSection-Frame-Inner-TextBox {
    s2: 0 0;
    transform: translateX(0);
  }
}
.LandscapeSection-Frame-Inner-TextBox-Text {
  font-size: 20px;
  color: #fff;
}
.LandscapeSection-Frame-Inner-TitleBox {
  rect: 105px 105px;
  background: #fff;
  layout: stack;
  justify-content: center;
  color: #436da8;
}
.LandscapeSection-Frame-Inner-TitleBox > * + * {
  margin-top: 4px;
}
.LandscapeSection-Frame-Inner-TitleBox-JaText {
  font-size: 16px;
  line-height: 150%;
}
.LandscapeSection-Frame-Inner-TitleBox-EnText {
  font-size: 9px;
  line-height: 150%;
}
