.LogoSection {
  mt: 50px;
  layout: stack;
}
@media MAX-TABLET {
  .LogoSection {
    mt: 20px;
  }
}
.LogoSection-LogoBox {
  rect: 220px 140px;
}
@media MAX-TABLET {
  .LogoSection-LogoBox {
    mt: 30px;
  }
}
