.MenuSection
  display none
  @media MAX-TABLET
    display flex
    rect 100vw 100vh
    overflow-y scroll
    padding-top 60px
    background rgba(#436da8, .8)
  &-ListGroup
    py 50px
    px 5%
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center

    color #ffffff
    & > * + *
      bdt solid #fff 1px
    &-ListItem
      py 1.2em
      px 1em
      width 100%
      display flex
      align-items center
      justify-content center
      & > *
        display block
        line-height 25px
      & > * + *
        ml 1em
      &-MediumText
        flex none
        font-size 18px