.MenuSection {
  display: none;
}
@media MAX-TABLET {
  .MenuSection {
    display: flex;
    rect: 100vw 100vh;
    overflow-y: scroll;
    padding-top: 60px;
    background: rgba(67,109,168,0.8);
  }
}
.MenuSection-ListGroup {
  py: 50px;
  px: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.MenuSection-ListGroup > * + * {
  bdt: solid #fff 1px;
}
.MenuSection-ListGroup-ListItem {
  py: 1.2em;
  px: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuSection-ListGroup-ListItem > * {
  display: block;
  line-height: 25px;
}
.MenuSection-ListGroup-ListItem > * + * {
  ml: 1em;
}
.MenuSection-ListGroup-ListItem-MediumText {
  flex: none;
  font-size: 18px;
}
