.NewsSection {
  rect: 100% auto;
  layout: stack;
  color: #436da8;
}
.NewsSection-Inner {
  rect: 90% auto;
  display: flex;
  align-items: center;
  py: 60px;
}
@media MAX-TABLET {
  .NewsSection-Inner {
    flex-wrap: wrap;
    py: 30px;
  }
}
.NewsSection-Inner > * + * {
  ml: 3%;
}
@media MAX-TABLET {
  .NewsSection-Inner > * + * {
    ml: 0;
  }
}
.NewsSection-Inner-LogoBox {
  flex: none;
  rect: auto auto;
  layout: btn;
}
@media MAX-TABLET {
  .NewsSection-Inner-LogoBox {
    rect: 25% auto;
  }
}
.NewsSection-Inner-LogoBox-Img {
  rect: 240px 150px;
}
@media MAX-TABLET {
  .NewsSection-Inner-LogoBox-Img {
    rect: 100% auto;
    padding-top: 100%;
  }
}
.NewsSection-Inner-TextBox {
  flex: none;
  rect: auto auto;
  font-size: 20px;
  line-height: 200%;
}
@media MAX-TABLET {
  .NewsSection-Inner-TextBox {
    ml: 5%;
    rect: 70% auto;
    font-size: 12px;
    line-height: 150%;
  }
}
.NewsSection-Inner-ListGroup {
  rect: auto auto;
  flex: auto;
  bdy: 1px solid #436da8;
  cursor: pointer;
}
.NewsSection-Inner-ListGroup > * + * {
  border-top: 1px solid #436da8;
}
.NewsSection-Inner-ListGroup-ListItem {
  py: 25px;
  rect: 100% auto;
  display: flex;
  justify-content: flex-start;
}
@media MAX-TABLET {
  .NewsSection-Inner-ListGroup-ListItem {
    py: 12px;
  }
}
.NewsSection-Inner-ListGroup-ListItem > * + * {
  ml: 2em;
}
@media MAX-TABLET {
  .NewsSection-Inner-ListGroup-ListItem > * + * {
    ml: 1em;
  }
}
.NewsSection-Inner-ListGroup-ListItem-DateText {
  flex: none;
  font-size: 16px;
  line-height: 125%;
}
@media MAX-TABLET {
  .NewsSection-Inner-ListGroup-ListItem-DateText {
    font-size: 14px;
  }
}
.NewsSection-Inner-ListGroup-ListItem-TitleText {
  flex: auto;
  font-size: 16px;
  line-height: 125%;
}
@media MAX-TABLET {
  .NewsSection-Inner-ListGroup-ListItem-TitleText {
    font-size: 14px;
  }
}
