.NewsSection
  rect 100% auto
  layout stack
  color rgb(67,109,168)
  &-Inner
    rect 90% auto
    display flex
    align-items center
    py 60px
    @media MAX-TABLET
      flex-wrap wrap
      py 30px
    & > * + *
      ml 3%
      @media MAX-TABLET
        ml 0
    &-LogoBox
      flex none
      rect auto auto
      layout btn
      @media MAX-TABLET
        rect 25% auto
      &-Img
        rect 240px 150px
        @media MAX-TABLET
          rect 100% auto
          padding-top 100%
    &-TextBox
      flex none
      rect auto auto
      font-size 20px
      line-height 200%
      @media MAX-TABLET
        ml 5%
        rect 70% auto
        font-size 12px
        line-height 150%

    &-ListGroup
      rect auto auto
      flex auto
      bdy 1px solid rgb(67,109,168)
      cursor pointer
      & > * + *
        border-top 1px solid rgb(67,109,168)
      &-ListItem
        py 25px
        rect 100% auto
        display flex
        justify-content flex-start
        @media MAX-TABLET
          py 12px
        & > * + *
          ml 2em
          @media MAX-TABLET
            ml 1em
        &-DateText
          flex none
          font-size 16px
          line-height 125%
          @media MAX-TABLET
            font-size 14px
        &-TitleText
          flex auto
          font-size 16px
          line-height 125%
          @media MAX-TABLET
            font-size 14px
