.RoomsAboutSection
  rect 100% auto
  font-family JAPANESE-FONT
  &-Frame
    r1 0 0
    rect 100% auto
    &::before
      content ""
      display block
      rect 100% auto
      padding-top 480px
      @media MAX-TABLET
        padding-top 550px
    &-Inner
      a1 0 0
      pt 96px
      rect 100% 100%
      display flex
      px 5%
      @media MAX-TABLET
        flex-direction column
        pt 66px
        justify-content center

      & > * + *
        @media MAX-TABLET
          mt 30px
      &-TitleBox
        flex none
        pl 40px
        rect auto auto
        layout stack
        justify-content center
        @media MAX-TABLET
          pl 0px
        &-TitleGroup
          display flex
          flex-direction column
          justify-content center
          align-items center
          rect 190px 210px
          background rgba(255, 255, 255,.7)
          color rgb(67,109,168)
          @media MAX-TABLET
            rect 114px 126px
          & > * + *
            margin-top 4px

          &-JaText
            font-size 30px
            line-height 150%
            @media MAX-TABLET
              line-height 100%

          &-EnText
            font-size 18px
            line-height 150%


      &-TextBox
        flex auto
        px 100px
        rect auto auto
        display flex
        flex-direction column
        justify-content center
        align-items center
        @media MAX-TABLET
          flex none
          px 0px
          justify-content flex-start

        &-Text
          margin-top 100px
          rect 100% auto
          pl 40px
          font-size 24px
          line-height 200%
          color #fff
          @media MAX-TABLET
            mt 0px
            pl 0px
            display flex
            justify-content center
            align-items center
            font-size 20px

        &-VillaNavGroup
          margin-top 70px
          rect 100% auto
          display flex
          justify-content space-between
          color #fff
          cursor pointer
          @media MAX-TABLET
            mt 30px

          &-NavItem
            border-bottom 1px solid #fff
            py 10px
            px 40px
            display flex
            flex-direction column
            align-items center
            justify-content center
            @media MAX-TABLET
              px 20px
            & > * + *
              mt 4px
            &-Text
              font-size 14px
            &-No
              font-size 20px


