.RoomsAboutSection {
  rect: 100% auto;
  font-family: JAPANESE-FONT;
}
.RoomsAboutSection-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.RoomsAboutSection-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 480px;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame::before {
    padding-top: 550px;
  }
}
.RoomsAboutSection-Frame-Inner {
  a1: 0 0;
  pt: 96px;
  rect: 100% 100%;
  display: flex;
  px: 5%;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner {
    flex-direction: column;
    pt: 66px;
    justify-content: center;
  }
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner > * + * {
    mt: 30px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox {
  flex: none;
  pl: 40px;
  rect: auto auto;
  layout: stack;
  justify-content: center;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TitleBox {
    pl: 0px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  rect: 190px 210px;
  background: rgba(255,255,255,0.7);
  color: #436da8;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup {
    rect: 114px 126px;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup > * + * {
  margin-top: 4px;
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText {
  font-size: 30px;
  line-height: 150%;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText {
    line-height: 100%;
  }
}
.RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText {
  font-size: 18px;
  line-height: 150%;
}
.RoomsAboutSection-Frame-Inner-TextBox {
  flex: auto;
  px: 100px;
  rect: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TextBox {
    flex: none;
    px: 0px;
    justify-content: flex-start;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-Text {
  margin-top: 100px;
  rect: 100% auto;
  pl: 40px;
  font-size: 24px;
  line-height: 200%;
  color: #fff;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TextBox-Text {
    mt: 0px;
    pl: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup {
  margin-top: 70px;
  rect: 100% auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup {
    mt: 30px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem {
  border-bottom: 1px solid #fff;
  py: 10px;
  px: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media MAX-TABLET {
  .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem {
    px: 20px;
  }
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem > * + * {
  mt: 4px;
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text {
  font-size: 14px;
}
.RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No {
  font-size: 20px;
}
