.SideNavSection
  @media MAX-TABLET
    display none
  &-NavGroup
    rect 100% auto
    & > * + *
      margin-top 20px
    &-NavItem
      rect 65px 210px
      background rgba(254,254,254,0.7)
      layout btn
      writing-mode vertical-lr
      font-size 20px
      color rgb(54,101,168)
      cursor pointer

