@media MAX-TABLET {
  .SideNavSection {
    display: none;
  }
}
.SideNavSection-NavGroup {
  rect: 100% auto;
}
.SideNavSection-NavGroup > * + * {
  margin-top: 20px;
}
.SideNavSection-NavGroup-NavItem {
  rect: 65px 210px;
  background: rgba(254,254,254,0.7);
  layout: btn;
  writing-mode: vertical-lr;
  font-size: 20px;
  color: #3665a8;
  cursor: pointer;
}
