.SideSNSSection {
  rect: 100% auto;
  layout: stack;
}
.SideSNSSection > * + * {
  mt: 14px;
}
.SideSNSSection-SNSText {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.8), 0 2px 2px rgba(0,0,0,0.6);
}
.SideSNSSection-SNSText:hover {
  opacity: 0.65;
  cursor: pointer;
  color: #fff;
}
