.SlideContentsSection
  r1 0 0
  margin-top 50px
  rect 100% auto
  py 55px
  px 5%
  @media MAX-TABLET
    py 24px
  .SlideContentsSection-SlideContainer
    mx auto
    max-width 960px
  &-SideBtnGroup
    width 45px
    layout btn
    font-size 10px
    &-NextBtnItem
      square 20px
      background-size contain
      left auto
      right 50%
      transform translate(40vw, 50%)
    &-PrevBtnItem
      square 20px
      background-size contain
      right auto
      left 50%
      transform translate(-40vw, 50%)
  &-Card
    display flex
    flex-direction column
    bgc #fff
    &-ImgFrame
      r1 0 0
      rect 100% auto
      &::before
        content ""
        display block
        rect 100% auto
        padding-top 180px
        &-Inner
          a1 0 0
          rect 100% 100%
          layout stack
          justify-content center
    &-TextBox
      px 24px
      layout btn
      rect 100%  105px
      border 1px solid rgb(164,179,203)
      &-Text
        font-size 18px
        color #0065A0





