.SlideContentsSection {
  r1: 0 0;
  margin-top: 50px;
  rect: 100% auto;
  py: 55px;
  px: 5%;
}
@media MAX-TABLET {
  .SlideContentsSection {
    py: 24px;
  }
}
.SlideContentsSection .SlideContentsSection-SlideContainer {
  mx: auto;
  max-width: 960px;
}
.SlideContentsSection-SideBtnGroup {
  width: 45px;
  layout: btn;
  font-size: 10px;
}
.SlideContentsSection-SideBtnGroup-NextBtnItem {
  square: 20px;
  background-size: contain;
  left: auto;
  right: 50%;
  transform: translate(40vw, 50%);
}
.SlideContentsSection-SideBtnGroup-PrevBtnItem {
  square: 20px;
  background-size: contain;
  right: auto;
  left: 50%;
  transform: translate(-40vw, 50%);
}
.SlideContentsSection-Card {
  display: flex;
  flex-direction: column;
  bgc: #fff;
}
.SlideContentsSection-Card-ImgFrame {
  r1: 0 0;
  rect: 100% auto;
}
.SlideContentsSection-Card-ImgFrame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 180px;
}
.SlideContentsSection-Card-ImgFrame::before-Inner {
  a1: 0 0;
  rect: 100% 100%;
  layout: stack;
  justify-content: center;
}
.SlideContentsSection-Card-TextBox {
  px: 24px;
  layout: btn;
  rect: 100% 105px;
  border: 1px solid #a4b3cb;
}
.SlideContentsSection-Card-TextBox-Text {
  font-size: 18px;
  color: #0065a0;
}
