.SNSNavSection
  display none
  @media MAX-TABLET
    rect 100% auto
    py 8px
    px 5%
    display flex
    overflow hidden
    bgc #fff
  &-IconGroup
    flex auto
    display flex
    align-items center
    justify-content space-around
    & > * + *
      ml 8px
    &-Item
      display flex
      flex-direction column
      align-items center
      justify-content center
      &:hover
        opacity .7
        cursor pointer
      & > * + *
        mt 4px
      &-Icon
        font-size 20px
      &-Text
        font-size 10px
  &-TelBtn
    ml 8px
    flex none
    py .5em
    px 1em
    layout btn
    background #449ADA
    border-radius 4px
    font-weight bold
    color #fff
    &:hover
      opacity .7
      cursor pointer
      color #fff
    & > * + *
      ml 4px
    &-Icon
      font-size 16px

    &-Text
      font-size 12px




