.SNSNavSection {
  display: none;
}
@media MAX-TABLET {
  .SNSNavSection {
    rect: 100% auto;
    py: 8px;
    px: 5%;
    display: flex;
    overflow: hidden;
    bgc: #fff;
  }
}
.SNSNavSection-IconGroup {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.SNSNavSection-IconGroup > * + * {
  ml: 8px;
}
.SNSNavSection-IconGroup-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SNSNavSection-IconGroup-Item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.SNSNavSection-IconGroup-Item > * + * {
  mt: 4px;
}
.SNSNavSection-IconGroup-Item-Icon {
  font-size: 20px;
}
.SNSNavSection-IconGroup-Item-Text {
  font-size: 10px;
}
.SNSNavSection-TelBtn {
  ml: 8px;
  flex: none;
  py: 0.5em;
  px: 1em;
  layout: btn;
  background: #449ada;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}
.SNSNavSection-TelBtn:hover {
  opacity: 0.7;
  cursor: pointer;
  color: #fff;
}
.SNSNavSection-TelBtn > * + * {
  ml: 4px;
}
.SNSNavSection-TelBtn-Icon {
  font-size: 16px;
}
.SNSNavSection-TelBtn-Text {
  font-size: 12px;
}
