.Villa002ContentsSection {
  rect: 100% auto;
  layout: stack;
  background: #eaebec;
}
.Villa002ContentsSection-Inner {
  display: flex;
  rect: 90% auto;
  max-width: 1200px;
  py: 65px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner {
    mt: 30px;
    py: 40px;
    flex-direction: column;
  }
}
.Villa002ContentsSection-Inner > * + * {
  ml: 70px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner > * + * {
    ml: 0;
  }
}
.Villa002ContentsSection-Inner-SubColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: none;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.Villa002ContentsSection-Inner-SubColumn > * + * {
  mt: 35px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn > * + * {
    justify-content: center;
    mt: 0;
    ml: 15px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-LogoBox {
  rect: 105px 125px;
  flex: none;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn-LogoBox {
    rect: 60px 80px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox {
  display: flex;
  flex-direction: column;
  color: #285ba4;
  text-align: center;
  flex: auto;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox {
    px: 16px;
    text-align: left;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-EnText {
  font-size: 22px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-EnText {
    font-size: 14px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-NoText {
  mt: 13px;
  font-size: 32px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-NoText {
    mt: 8px;
    font-size: 24px;
  }
}
.Villa002ContentsSection-Inner-SubColumn-TitleBox-JaText {
  mt: 27px;
  font-size: 24px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-SubColumn-TitleBox-JaText {
    mt: 8px;
    font-size: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 0;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn {
    mt: 20px;
    width: 100%;
  }
}
.Villa002ContentsSection-Inner-MainColumn-MainImage {
  rect: 100% auto;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 66.666%;
}
.Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner {
  a1: 0 0;
  rect: 100% 100%;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup {
  mt: 16px;
  rect: 100% auto;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide {
  opacity: 0.65;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-slide.swiper-slide-active {
  opacity: 1;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-next,
  .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup .swiper-button-prev {
    transform: scale(0.6);
  }
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem {
  width: 100%;
  height: auto;
  flex: none;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 66.666%;
}
.Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner {
  a1: 0 0;
  rect: 100% 100%;
}
.Villa002ContentsSection-Inner-MainColumn-Menu {
  mt: 45px;
  py: 35px;
  display: flex;
  rect: 100% auto;
  border-bottom: 1px solid #285ba4;
  color: #285ba4;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu {
    mt: 0;
    py: 24px;
    flex-direction: column;
    align-items: center;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu > * + * {
  ml: 125px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu > * + * {
    ml: 0;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox {
  layout: stack;
  text-align: center;
  flex: none;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
  margin-top: 25px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox > * + * {
    margin-top: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText {
  font-size: 14px;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText {
  font-size: 38px;
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: none;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup {
    mt: 16px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
  mt: 14px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup > * + * {
    mt: 8px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
  display: flex;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item {
    justify-content: flex-start;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
  ml: 45px;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item > * + * {
    ml: 0;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  rect: 70px auto;
  font-size: 10px;
  line-height: 150%;
  flex: none;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title {
    px: 10px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
  font-size: 18px;
  line-height: 150%;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text {
    display: flex;
    justify-content: flex-start;
  }
}
.Villa002ContentsSection-Inner-MainColumn-Menu-SubText {
  mt: 85px;
  rect: auto auto;
  font-size: 16px;
  display: flex;
  text-align: flex-end;
  flex: auto;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-Menu-SubText {
    mt: 24px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg {
  mt: 55px;
  rect: 100% auto;
  layout: stack;
}
@media MAX-TABLET {
  .Villa002ContentsSection-Inner-MainColumn-DrawingImg {
    mt: 24px;
  }
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame {
  r1: 0 0;
  rect: 100% auto;
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame::before {
  content: "";
  display: block;
  rect: 100% auto;
  padding-top: 38%;
}
.Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner {
  a1: 0 0;
  rect: 100% 100%;
}
