.Villa001ContentsSection
  rect 100% auto
  layout stack
  background #fff
  &-Inner
    display flex
    rect 90% auto
    max-width 1200px
    py 65px
    @media MAX-TABLET
      py 40px
      flex-direction column
    & > * + *
      ml 70px
      @media MAX-TABLET
        ml 0
    &-SubColumn
      display flex
      flex-direction column
      justify-content flex-start
      flex none
      @media MAX-TABLET
        flex-direction row
        justify-content center
        align-items center
      & > * + *
        mt 35px
        @media MAX-TABLET
          justify-content center
          mt 0
          ml 15px

      &-LogoBox
          rect 105px 125px
          flex none
          @media MAX-TABLET
            rect 60px 80px

      &-TitleBox
        display flex
        flex-direction column
        color #285BA4
        text-align center
        flex auto
        @media MAX-TABLET
          px 16px
          text-align left
        &-EnText
          font-size 22px
          @media MAX-TABLET
            font-size 14px
        &-NoText
          mt 13px
          font-size 32px
          @media MAX-TABLET
            mt 8px
            font-size 24px
        &-JaText
          mt 27px
          font-size 24px
          @media MAX-TABLET
            mt 8px
            font-size 16px
    &-MainColumn
      display flex
      flex-direction column
      justify-content center
      align-items center
      flex auto
      width 0
      @media MAX-TABLET
        mt 20px
        width 100%
      &-MainImage
        rect 100% auto
        &-Frame
          r1 0 0
          rect 100% auto
          &::before
            content ""
            display block
            rect 100% auto
            padding-top 66.666%
          &-Inner
            a1 0 0
            rect 100% 100%
      &-SubFrameGroup
        mt 16px
        rect 100% auto
        .swiper-button-next, .swiper-button-prev
          @media MAX-TABLET
            transform scale(.6)
        .swiper-slide
          opacity .65
        .swiper-slide.swiper-slide-active
          opacity 1
        &-FrameItem
          width 100%
          height  auto
          flex none
          &::before
            content ""
            display block
            rect 100% auto
            padding-top 66.666%
          &-Inner
            a1 0 0
            rect 100% 100%
      &-Menu
        mt 45px
        py 35px
        display flex
        rect 100% auto
        border-bottom 1px solid #285ba4
        color #285BA4
        @media MAX-TABLET
          mt 0
          py 24px
          flex-direction column
          align-items center
        & > * + *
          ml 125px
          @media MAX-TABLET
            ml 0

        &-TitleBox
          layout stack
          text-align  center
          flex none
          & > * + *
            margin-top 25px
            @media MAX-TABLET
              margin-top 16px
          &-EnText
            font-size 14px
          &-NoText
            font-size 38px
        &-MainTextGroup
          display flex
          flex-direction column
          align-items  flex-start
          justify-content center
          flex none
          @media MAX-TABLET
            mt 16px
          & > * + *
            mt 14px
            @media MAX-TABLET
              mt 8px
          &-Item
            display flex
            @media MAX-TABLET
              justify-content flex-start
            & > * + *
              ml 45px
              @media MAX-TABLET
                ml 0
            &-Title
              display flex
              align-items center
              justify-content flex-start
              rect 70px auto
              font-size 10px
              line-height 150%
              flex none
              @media MAX-TABLET
                px 10px
            &-Text
              font-size 18px
              line-height 150%
              @media MAX-TABLET
                display flex
                justify-content flex-start

        &-SubText
          mt 85px
          rect auto auto
          font-size 16px
          display flex
          text-align flex-end
          flex auto
          @media MAX-TABLET
            mt 24px

      &-DrawingImg
        mt 55px
        rect 100% auto
        layout stack
        @media MAX-TABLET
          mt 24px
        &-Frame
          r1 0 0
          rect 100% auto
          &::before
            content ""
            display block
            rect 100% auto
            padding-top 38%
          &-Inner
            a1 0 0
            rect 100% 100%



