.AboutSection
    .AboutSection-Frame(style="background: url('./resources/images/Components/AboutSection/AboutSection-Frame.jpg') no-repeat center; background-size: cover;")
        .AboutSection-Frame-Inner
            .AboutSection-Frame-Inner-TextBox
                .AboutSection-Frame-Inner-TextBox-Text 鮮烈な青と碧
            .AboutSection-Frame-Inner-TitleBox
                .AboutSection-Frame-Inner-TitleBox-JaText 島木の舎<br>について
                .AboutSection-Frame-Inner-TitleBox-EnText toki no Villa



