.AccessSection
    .AccessSection-Frame(style="background: url('./resources/images/Components/AccessSection/map.jpg') no-repeat center; background-size: cover;")
        .AccessSection-Frame-Inner
            .AccessSection-Frame-Inner-LogoBox(style="background: url('./resources/images/Components/AccessSection/AccessSection-Frame-Inner-LogoBox.png') no-repeat center; background-size: contain;")
            .AccessSection-Frame-Inner-TitleBox
                .AccessSection-Frame-Inner-TitleBox-JaText アクセス
                .AccessSection-Frame-Inner-TitleBox-EnText access
