.ActivitySection
    .ActivitySection-Frame(style="background: url('./resources/images/Components/ActivitySection/activity_bg.jpeg') no-repeat center; background-size: cover;")
        .ActivitySection-Frame-Inner
            .ActivitySection-Frame-Inner-TextBox
                .ActivitySection-Frame-Inner-TextBox-Text.U_PC_Tategaki 自然の中へ
            .ActivitySection-Frame-Inner-TitleBox
                .ActivitySection-Frame-Inner-TitleBox-JaText アクティビティ
                .ActivitySection-Frame-Inner-TitleBox-EnText Activity



