// BigImage
.BigImageSection
    .swiper-container
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
        .swiper-wrapper
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        .BigImageSection-Frame-Inner-TextBox
                            p.BigImageSection-Frame-Inner-TextBox-Text 2020年秋OPEN
                        .BigImageSection-Frame-Inner-LogoBox(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame-Inner-Icon.png') no-repeat center; background-size: contain;")
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        .BigImageSection-Frame-Inner-TextGroup.U_PC_Tategaki
                            p.BigImageSection-Frame-Inner-TextGroup-FirstTextItem 多くの自然に恵まれ、サンゴ礁に囲まれた海が広がる
                            p.BigImageSection-Frame-Inner-TextGroup-SecondTextItem 川平湾にも程近い、ウミガメやマンタが集まる島の北
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                         .BigImageSection-Frame-Inner-TextGroup.U_PC_Tategaki
                             p.BigImageSection-Frame-Inner-TextGroup-FirstTextItem 暮らすように過ごす時間。
                             p.BigImageSection-Frame-Inner-TextGroup-SecondTextItem 無垢の木に包まれた中に溶け込む青色、藍色。
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        .BigImageSection-Frame-Inner-TextGroup.U_PC_Tategaki
                            p.BigImageSection-Frame-Inner-TextGroup-FirstTextItem 穏やかなくつろぎ
                            p.BigImageSection-Frame-Inner-TextGroup-SecondTextItem 海風と調和する、木の舎
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_05.jpg') no-repeat center; background-size: cover;")
                        .BigImageSection-Frame-Inner-SubTextBox
                            p.BigImageSection-Frame-Inner-SubTextBox-SubText 2020年秋OPEN
            .swiper-slide
                .BigImageSection-Frame
                    .BigImageSection-Frame-Inner(style="background: url('./resources/images/Components/BigImageSection/BigImageSection-Frame_06.jpg') no-repeat center; background-size: cover;")
                        .BigImageSection-Frame-Inner-SubTextBox
                            p.BigImageSection-Frame-Inner-SubTextBox-SubText 2020年秋OPEN
