.ConseptSection
    p.ConseptSection-TextBox.U_Tategaki.
        石垣島 川平 山原、<br>
        多くの自然に恵まれ、<br>
        サンゴ礁に囲まれた海が広がる、<br>
        川平湾にも程近い、<br>
        ウミガメやマンタが集まる島の北。<br>
        暮らすように過ごす時間。<br>
        自然の中へ<br>
        無垢の木に包まれた中に<br>
        溶け込む青色、藍色。<br>
        穏やかなくつろぎ。<br>
        海風と調和する、木の舎。







