footer.FooterSection
    .FooterSection-Inner
        .FooterSection-Inner-Address
            .FooterSection-Inner-Address-Img(style="background: url('./resources/images/Components/FooterSection/FooterSection-Inner-Address-Img.png') no-repeat center; background-size: contain;")
            .FooterSection-Inner-Address-Text.
                〒541-0058<br>
                大阪府大阪市中央区南久宝寺町四丁目5-17アップウェル船場2F
        a(href="tel:06-6253-8262").FooterSection-Inner-Tel 06-6253-8262
        .FooterSection-Inner-TextBox.
            ■■■■■■■■■■■■■■■■■■■■■■■■<br>
            ■■■■■■■■■■■■■■■■■■■■■■■■<br>
            ■■■■■■■■■■■■■■■■■■■■■■■■


