header.HeaderSection
    .HeaderSection-Inner
        .HeaderSection-Inner-LogoBox
            .HeaderSection-Inner-LogoBox-Img(style="background: url('./resources/images/Components/HeaderSection/HeaderSection-Inner-LogoBox-Img.png') no-repeat center; background-size: contain;")
        ul.HeaderSection-Inner-NavGroup
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 島木の舎について
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 寝室
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text 周辺
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text アクティビティ
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text アクセス
            li.HeaderSection-Inner-NavGroup-NavItem
                .HeaderSection-Inner-NavGroup-NavItem-Text お問い合わせ
            li.HeaderSection-Inner-NavGroup-NavItem
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text EN
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text 中
                a(href="").HeaderSection-Inner-NavGroup-NavItem-Text 日
        .HeaderSection-Inner-HamburgerMenuBtn
            i.fas.fa-bars.HeaderSection-Inner-HamburgerMenuBtn-Icon











