.LandscapeSection
    .LandscapeSection-Frame(style="background: url('./resources/images/Components/LandscapeSection/landscape_bg.jpeg') no-repeat center; background-size: cover;")
        .LandscapeSection-Frame-Inner
            .LandscapeSection-Frame-Inner-TextBox
                .LandscapeSection-Frame-Inner-TextBox-Text 島に夜景に佇む
            .LandscapeSection-Frame-Inner-TitleBox
                .LandscapeSection-Frame-Inner-TitleBox-JaText 周辺
                .LandscapeSection-Frame-Inner-TitleBox-EnText Landscape



