nav.MenuSection
    .MenuSection-ListGroup
        a(href="./about.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 島木の舎について
        a(href="./about.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 寝室
        a(href="./service.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText 周辺
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText アクティビティ
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText アクセス
        a(href="./contact.html").MenuSection-ListGroup-ListItem
            span.MenuSection-ListGroup-ListItem-MediumText お問い合わせ
        div.MenuSection-ListGroup-ListItem
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText EN
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText 中
            a(href="./contact.html").MenuSection-ListGroup-ListItem-MediumText 日