.NewsSection
    .NewsSection-Inner
        .NewsSection-Inner-LogoBox
           .NewsSection-Inner-LogoBox-Img(style="background: url('./resources/images/Components/NewsPageSection/info-logo.png') no-repeat center; background-size: contain;")
        p.NewsSection-Inner-TextBox.
            2020年秋、石垣島山原に<br>
            プライベートプールヴィラ<br>
            「島木の舍」がオープンします。
        ul.NewsSection-Inner-ListGroup
            li.NewsSection-Inner-ListGroup-ListItem
                .NewsSection-Inner-ListGroup-ListItem-DateText 2020.9.20
                .NewsSection-Inner-ListGroup-ListItem-TitleText 秋のアクティビティを更新しました
            li.NewsSection-Inner-ListGroup-ListItem
                .NewsSection-Inner-ListGroup-ListItem-DateText 2020.8.20
                .NewsSection-Inner-ListGroup-ListItem-TitleText ご予約についてのお願い
            li.NewsSection-Inner-ListGroup-ListItem
                .NewsSection-Inner-ListGroup-ListItem-DateText 2020.7.20
                .NewsSection-Inner-ListGroup-ListItem-TitleText 島木の舍オープンのお知らせ



