.RoomsAboutSection
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .RoomsAboutSection-Frame(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                    .RoomsAboutSection-Frame-Inner
                        .RoomsAboutSection-Frame-Inner-TitleBox
                            .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText VILLA
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText 客室
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText Room
                        .RoomsAboutSection-Frame-Inner-TextBox
                            .RoomsAboutSection-Frame-Inner-TextBox-Text 暮らすように過ごす石垣島<br>無垢の木と藍色の舎
                            .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup
                                a(href="#villa001").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 001
                                a(href="#villa002").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 002
                                a(href="#villa003").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 003
            .swiper-slide
                .RoomsAboutSection-Frame(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                    .RoomsAboutSection-Frame-Inner
                        .RoomsAboutSection-Frame-Inner-TitleBox
                            .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText VILLA
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText 客室
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText Room
                        .RoomsAboutSection-Frame-Inner-TextBox
                            .RoomsAboutSection-Frame-Inner-TextBox-Text 暮らすように過ごす石垣島<br>無垢の木と藍色の舎
                            .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup
                                a(href="#villa001").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 001
                                a(href="#villa002").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 002
                                a(href="#villa003").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 003
            .swiper-slide
                .RoomsAboutSection-Frame(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                    .RoomsAboutSection-Frame-Inner
                        .RoomsAboutSection-Frame-Inner-TitleBox
                            .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText VILLA
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText 客室
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText Room
                        .RoomsAboutSection-Frame-Inner-TextBox
                            .RoomsAboutSection-Frame-Inner-TextBox-Text 暮らすように過ごす石垣島<br>無垢の木と藍色の舎
                            .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup
                                a(href="#villa001").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 001
                                a(href="#villa002").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 002
                                a(href="#villa003").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 003
            .swiper-slide
                .RoomsAboutSection-Frame(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                    .RoomsAboutSection-Frame-Inner
                        .RoomsAboutSection-Frame-Inner-TitleBox
                            .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText VILLA
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText 客室
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText Room
                        .RoomsAboutSection-Frame-Inner-TextBox
                            .RoomsAboutSection-Frame-Inner-TextBox-Text 暮らすように過ごす石垣島<br>無垢の木と藍色の舎
                            .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup
                                a(href="#villa001").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 001
                                a(href="#villa002").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 002
                                a(href="#villa003").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 003
            .swiper-slide
                .RoomsAboutSection-Frame(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
                    .RoomsAboutSection-Frame-Inner
                        .RoomsAboutSection-Frame-Inner-TitleBox
                            .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText VILLA
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-JaText 客室
                                .RoomsAboutSection-Frame-Inner-TitleBox-TitleGroup-EnText Room
                        .RoomsAboutSection-Frame-Inner-TextBox
                            .RoomsAboutSection-Frame-Inner-TextBox-Text 暮らすように過ごす石垣島<br>無垢の木と藍色の舎
                            .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup
                                a(href="#villa001").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 001
                                a(href="#villa002").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 002
                                a(href="#villa003").RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-Text VILLA
                                    .RoomsAboutSection-Frame-Inner-TextBox-VillaNavGroup-NavItem-No 003







