.SideNavSection
    .SideNavSection-NavGroup
        .SideNavSection-NavGroup-NavItem
            .SideNavSection-NavGroup-NavItem-Text.U_Tategaki 会員募集
        .SideNavSection-NavGroup-NavItem
            .SideNavSection-NavGroup-NavItem-Text.U_Tategaki 宿泊予約









