section.SlideContentsSection
    .swiper-button-prev.SlideContentsSection-SideBtnGroup-PrevBtnItem
    .swiper-button-next.SlideContentsSection-SideBtnGroup-NextBtnItem
    .swiper-container
        ul.swiper-wrapper
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名1
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名2
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名3
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名4
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名5
            li.swiper-slide
                .SlideContentsSection-Card
                    .SlideContentsSection-Card-ImgFrame(style="background: url('./resources/images/Components/SlideContentsSection/SlideContentsSection-Card-ImgFrame.png') no-repeat center; background-size: cover;")
                        .SlideContentsSection-Card-ImgFrame-Inner
                    .SlideContentsSection-Card-TextBox
                        .SlideContentsSection-Card-TextBox-Text グループホテル名6



