.SNSNavSection
    .SNSNavSection-IconGroup
        a(href="").SNSNavSection-IconGroup-Item
            i.class.fab.fa-instagram.SNSNavSection-IconGroup-Item-Icon
            .SNSNavSection-IconGroup-Item-Text Instagram
        a(href="").SNSNavSection-IconGroup-Item
            i.class.fab.fa-twitter.SNSNavSection-IconGroup-Item-Icon
            .SNSNavSection-IconGroup-Item-Text Twitter
        a(href="").SNSNavSection-IconGroup-Item
            i.fab.fa-facebook.SNSNavSection-IconGroup-Item-Icon
            .SNSNavSection-IconGroup-Item-Text Facebook
    a(href="tel:06-6253-8262").SNSNavSection-TelBtn
        i.class.fas.fa-phone-alt.SNSNavSection-TelBtn-Icon
        .SNSNavSection-TelBtn-Text 電話する




