.StaySection
    .StaySection-Frame(style="background: url('./resources/images/Components/StaySection/StaySection-Frame.jpg') no-repeat center; background-size: cover;")
        .StaySection-Frame-Inner
            .StaySection-Frame-Inner-TextBox
                .StaySection-Frame-Inner-TextBox-Text.U_PC_Tategaki 木と、青と藍色
            .StaySection-Frame-Inner-TitleBox
                .StaySection-Frame-Inner-TitleBox-JaText 客室
                .StaySection-Frame-Inner-TitleBox-EnText stay



