section#villa003.Villa003ContentsSection
    .Villa003ContentsSection-Inner
        .Villa003ContentsSection-Inner-SubColumn
            .Villa003ContentsSection-Inner-SubColumn-LogoBox(style="background: url('./resources/images/Components/Villa003ContentsSection/LogoImg.png') no-repeat center; background-size: contain;")
            .Villa003ContentsSection-Inner-SubColumn-TitleBox
                .Villa003ContentsSection-Inner-SubColumn-TitleBox-EnText VILLA
                .Villa003ContentsSection-Inner-SubColumn-TitleBox-NoText 003
                .Villa003ContentsSection-Inner-SubColumn-TitleBox-JaText ■棟
        .Villa003ContentsSection-Inner-MainColumn
            .Villa003ContentsSection-Inner-MainColumn-MainImage
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa003ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa003ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
                    .swiper-button-prev
                    .swiper-button-next


            .Villa003ContentsSection-Inner-MainColumn-Menu
                .Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox
                    .Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText VILLA
                    .Villa003ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText 003
                .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup
                    .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title room
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text ルーム ■ m²
                    .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title deck
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text デッキ ■ m²
                    .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title private pool
                        .Villa003ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text プライベートプール ■m×■m
                .Villa003ContentsSection-Inner-MainColumn-Menu-SubText 徒歩で海岸線まで約■分
            .Villa003ContentsSection-Inner-MainColumn-DrawingImg
                .Villa003ContentsSection-Inner-MainColumn-DrawingImg-Frame
                    .Villa003ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner(style="background: url('./resources/images/Components/Villa003ContentsSection/20200105164130752.png') no-repeat center; background-size: contain;")

