section#villa002.Villa002ContentsSection
    .Villa002ContentsSection-Inner
        .Villa002ContentsSection-Inner-SubColumn
            .Villa002ContentsSection-Inner-SubColumn-LogoBox(style="background: url('./resources/images/Components/Villa002ContentsSection/LogoImg.png') no-repeat center; background-size: contain;")
            .Villa002ContentsSection-Inner-SubColumn-TitleBox
                .Villa002ContentsSection-Inner-SubColumn-TitleBox-EnText VILLA
                .Villa002ContentsSection-Inner-SubColumn-TitleBox-NoText 002
                .Villa002ContentsSection-Inner-SubColumn-TitleBox-JaText 2棟
        .Villa002ContentsSection-Inner-MainColumn
            .Villa002ContentsSection-Inner-MainColumn-MainImage
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa002ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa002ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
                    .swiper-button-prev
                    .swiper-button-next


            .Villa002ContentsSection-Inner-MainColumn-Menu
                .Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox
                    .Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText VILLA
                    .Villa002ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText 002
                .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup
                    .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title room
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text ルーム 62 m²
                    .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title deck
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text デッキ 14 m²
                    .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title private pool
                        .Villa002ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text プライベートプール 10m×2m
                .Villa002ContentsSection-Inner-MainColumn-Menu-SubText 徒歩で海岸線まで約3分
            .Villa002ContentsSection-Inner-MainColumn-DrawingImg
                .Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame
                    .Villa002ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner(style="background: url('./resources/images/Components/Villa002ContentsSection/20200105164130752.png') no-repeat center; background-size: contain;")

