section#villa001.Villa001ContentsSection
    .Villa001ContentsSection-Inner
        .Villa001ContentsSection-Inner-SubColumn
            .Villa001ContentsSection-Inner-SubColumn-LogoBox(style="background: url('./resources/images/Components/Villa001ContentsSection/LogoImg.png') no-repeat center; background-size: contain;")
            .Villa001ContentsSection-Inner-SubColumn-TitleBox
                .Villa001ContentsSection-Inner-SubColumn-TitleBox-EnText VILLA
                .Villa001ContentsSection-Inner-SubColumn-TitleBox-NoText 001
                .Villa001ContentsSection-Inner-SubColumn-TitleBox-JaText 2棟
        .Villa001ContentsSection-Inner-MainColumn
            .Villa001ContentsSection-Inner-MainColumn-MainImage
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame
                                .Villa001ContentsSection-Inner-MainColumn-MainImage-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup
                .swiper-container
                    ul.swiper-wrapper
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_01.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_02.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_03.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_04.jpg') no-repeat center; background-size: cover;")
                        li.swiper-slide
                            .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem
                                .Villa001ContentsSection-Inner-MainColumn-SubFrameGroup-FrameItem-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/VillaContentsSection-Frame_05.jpg') no-repeat center; background-size: cover;")
                    .swiper-button-prev
                    .swiper-button-next


            .Villa001ContentsSection-Inner-MainColumn-Menu
                .Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox
                    .Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox-EnText VILLA
                    .Villa001ContentsSection-Inner-MainColumn-Menu-TitleBox-NoText 001
                .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup
                    .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title room
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text ルーム 74 m²
                    .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title deck
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text デッキ 28 m²
                    .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Title private pool
                        .Villa001ContentsSection-Inner-MainColumn-Menu-MainTextGroup-Item-Text プライベートプール 9m×2m
                .Villa001ContentsSection-Inner-MainColumn-Menu-SubText 徒歩で海岸線まで約2分
            .Villa001ContentsSection-Inner-MainColumn-DrawingImg
                .Villa001ContentsSection-Inner-MainColumn-DrawingImg-Frame
                    .Villa001ContentsSection-Inner-MainColumn-DrawingImg-Frame-Inner(style="background: url('./resources/images/Components/Villa001ContentsSection/20200105164130752.png') no-repeat center; background-size: contain;")

