.PcBr
  display block
  @media MAX-TABLET
    display none
.SpBr
  display none
  @media MAX-TABLET
    display block


.U_Tategaki
  -webkit-writing-mode vertical-rl
  -ms-writing-mode tb-rl
  writing-mode vertical-rl
  font-family JAPANESE-TATEGAKI-FONT !important

.U_PC_Tategaki
  @media MIN-TABLET
    -webkit-writing-mode vertical-rl
    -ms-writing-mode tb-rl
    writing-mode vertical-rl
    font-family JAPANESE-TATEGAKI-FONT !important