.PcBr {
  display: block;
}
@media MAX-TABLET {
  .PcBr {
    display: none;
  }
}
.SpBr {
  display: none;
}
@media MAX-TABLET {
  .SpBr {
    display: block;
  }
}
.U_Tategaki {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: JAPANESE-TATEGAKI-FONT !important;
}
@media MIN-TABLET {
  .U_PC_Tategaki {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: JAPANESE-TATEGAKI-FONT !important;
  }
}
